<!DOCTYPE html>
<html>
<head>
    <title>Bank Transfer</title>
</head>
<body>

<h1>IHS Tower Banking</h1>

<form method="POST">

    <label>Sender</label><br>
    <input type="text" name="sender"><br><br>

    <label>Receiver</label><br>
    <input type="text" name="receiver"><br><br>

    <label>Amount</label><br>
    <input type="number" step="0.01" name="amount"><br><br>

    <button type="submit">Transfer</button>

</form>

{{if .HasResult}}
    <h3>{{.Message}}</h3>
{{end}}

<hr>

<h2>Accounts</h2>

<table border="1" cellpadding="8">
<tr>
    <th>Name</th>
    <th>Balance</th>
</tr>

{{range .Accounts}}
<tr>
    <td>{{.Name}}</td>
    <td>${{printf "%.2f" .Balance}}</td>
</tr>
{{end}}

</table>

</body>
</html>